backports.cached-property==1.0.2
grpcio==1.51.3
grpcio-tools==1.51.3
Jinja2==3.1.2
MarkupSafe==2.1.2
overrides==7.3.1
pathspec==0.11.1
protobuf==4.22.1
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
robotframework==6.0.2
robotframework-assertion-engine==1.0.0
robotframework-browser==16.0.2
robotframework-csvlibrary==0.0.5
robotframework-pythonlibcore==4.1.2
robotframework-robocop==3.0.0
six==1.16.0
tomli==2.0.1
typing_extensions==4.5.0
wrapt==1.15.0
